.Photo{
    width: 90%;
    text-align: center;
    padding: 2px;
    margin: 5%;
}

.Image{
    position: relative;
    width: 100%;
    border: 3px solid #22436D;
    border-radius: 10px;
    box-shadow: 1px 1px rgb(54, 54, 61);
}

.Button{
    border-radius: 5px;
    background-color: #3CB46E;
    color: whitesmoke;
    font-size: small;
    padding: 5px;
    margin: 5px;
    font-family: 'Original Surfer', cursive;
}

.Button:nth-child(3){
    background-color: rgb(223, 26, 26);
    color: white;
}


@media(min-width: 500px){
    .Photo{
        width: 90%;
    }

    .Button{
        border-radius: 5px;
        background-color: #3CB46E;
        color: white;
        font-size: small;
        padding: 5px;
        margin: 1px;
        font-family: 'Original Surfer', cursive;
    }
}