.Photo{
    width: 90%;
    text-align: center;
    padding: 2px;
    margin: 5%;
}

.Image{
    position: relative;
    width: 100%;
    border: 3px solid #22436D;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(109, 109, 110);
}

.Button{
    border-radius: 5px;
    background-color: #80b194;
    color: whitesmoke;
    font-size: small;
    padding: 5px;
    margin: 5px;
    font-family: 'Original Surfer', cursive;
}

.Button:hover, .Button:active {
    background-color: #11c76c;
    color: whitesmoke;
}

.Button:nth-child(3){
    background-color: rgb(172, 49, 49);
    color: white;
}

.Button:nth-child(3):hover, .Button:nth-child(3):active {
    background-color: #c20707;
    color: whitesmoke;
}


@media(min-width: 500px){
    .Photo{
        width: 90%;
    }

    .Button{
        border-radius: 5px;
        font-size: small;
        padding: 5px;
        margin: 1px;
        font-family: 'Original Surfer', cursive;
    }
}