.Toolbar{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(29, 28, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

@media(max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}


@media(max-width: 375px) {
    .Toolbar {
        height: 70px;
    }
}

@media(min-width: 376px) and (max-width: 414px) {
    .Toolbar {
        height: 70px;
    }
}

@media(width: 568px) and (height: 320px) {
    .Toolbar {
        height: 100px;
    }
}





@media(min-width: 500px) and (max-width: 762px) {
    .Toolbar {
        height: 80px;
    }
}

@media(min-width: 415px) and (max-width: 499px) {
    .Toolbar {
        height: 50px;
    }
}