.Logo{
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img{
    height: 50px;
    width: 100px;
}

/* 
@media(max-width: 500px){
    .Logo img{
        height: 50px;
        width: 110px;
        position: relative;
        left: -8px;
        top: -8px;
    }
}


@media(min-width: 500px) and (max-height: 762px) {
    .Logo img{
        height: 90px;
        width: 110px;
        position: relative;
        left: -8px;
        top: -8px;
    }
} */