.Content {
    margin-top: 72px;
}

.header2 {
    margin-top: 7%;
    height: 30%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #22436D;

    font-family: 'Montserrat Alternates', sans-serif;
    color: #22436D;
    font-weight: 500;

    cursor: pointer;
}

.header2 h4{
    position: relative;
    left: 20%;
    padding-top: 5px;
}

.header3 {
    margin-top: 7%;
    height: 30%;
    width: 100%;
    padding: 10px;
    background: whitesmoke;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #22436D;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

/*Larger Screens*/
@media(min-width: 500px){
    .header2 {
        height: 30%;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        background: whitesmoke;
        /* font-family: 'Montserrat Alternates', sans-serif; */
        color: #22436D;
        font-weight: 500;
    }

    .header2 h4{
        position: relative;
        left: 40%;
        padding-top: 5px;
    }
}

@media(max-width: 414px){
    .header2 h4{
        padding-top: 5px;
        font-size: large;
        text-align: center;
    }
}

@media(max-width: 375px) {
    .header2, .header3 {
        margin-top: 20%;
        font-size: small;
    }
}

@media(min-width: 376px) and (max-width: 414px) {
    .header2, .header3 {
        margin-top: 19%;
        font-size: medium;
    }
}

@media(min-width: 768px) and (max-width: 1025px) {
    .header2, .header3 {
        margin-top: 12%;
        font-size: large;
    }
}

@media(width: 540px) and (height: 720px) {
    .header2, .header3 {
        margin-top: 18%;
        font-size: large;
    }
}

@media(width: 568px) and (height: 320px){
    .header2, .header3 {
        margin-top: 18%;
        font-size: large;
    }
}

/* iphone 6 */
@media(width: 667px) and (height: 375px) {
    .header2, .header3 {
        margin-top: 15%;
        font-size: large;
    }
}

/* iphone 6 plus */
@media(width: 736px) and (height: 414px) {
    .header2, .header3 {
        margin-top: 15%;
        font-size: large;
    }
}

/* surface duo side */
@media(width: 720px) and (height: 540px) {
    .header2, .header3 {
        margin-top: 15%;
        font-size: large;
    }
}


@media(min-width: 500px) and (max-width: 600px) {
    .header2, .header3 {
        margin-top: 15%;
        font-size: large;
    }
}

@media(min-width: 601px) and (max-width: 767px) {
    .header2, .header3 {
        margin-top: 15%;
        font-size: large;
    }
}

@media(min-width: 1022px) and (max-width: 1125px) {
    .header2, .header3 {
        margin-top: 10%;
        font-size: large;
    }
}

@media(min-width: 415px) and (max-width: 499px) {
    .header2, .header3 {
        margin-top: 10%;
        font-size: large;
    }
}